@import "tailwindcss";

:root {
  --background: #111827; /* gray-900 */
  --background-dark: #000000; /* black */
  --foreground: #d1d5db; /* gray-300 */
  --primary: #00ACC1; /* cyan-600 */
  --primary-dark: #0097A7; /* cyan-700 */
  --font-mono: Helvetica, monospace;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #111827; /* gray-900 */
    --background-dark: #000000; /* black */
    --foreground: #d1d5db; /* gray-300 */
    --primary: #00ACC1; /* cyan-600 */
    --primary-dark: #0097A7; /* cyan-700 */
    --font-mono: Helvetica, monospace;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-mono);
  user-select: var(--primary);
  ::selection {
    background: var(--primary);
    color: var(--background);
  }
}
.link-hover-light:hover {
  color: var(--foreground)
}
.bg-accent {
  background-color: var(--primary);
  color: var(--background);
}
.hover-bg-accent-dark:hover {
  background-color: var(--primary-dark);
  color: var(--background-dark);
}